{% from "macros/fields.html" import render_text_field, render_select_field %}
{% extends "layout.jinja2" %}

{% block title %}
  {% if organization %}Manage{% else %}Add{% endif %} An Organization
{% endblock %}

{% block content %}
  <div class="container">
    {% if organization %}Manage{% else %}Add{% endif %} An Organization
    <form name="manage_organization" method="post" novalidate class="form">
        <div class="form__container">
            {{ render_text_field(form.name) }}
            {{ render_text_field(form.short_name) }}
            {{ render_text_field(form.description) }}
            {{ render_select_field(form.parent) }}
            {{form.hidden_tag()}}
        </div>
        <div>
            <input type="submit">
        </div>
  </div>
{% endblock %}