{% extends 'layout.jinja2' %}

{% block title %}
    {% if not title %}Addresses{% else %}{{ title }}{% endif %}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('address.address_list') }}">Admin</a></li>
        <li class="active">Addresses</li>
    </ol>
{% endblock %}

{% block content %}
    {% if datatable %}
    <div id="pjax-container">
        {% include 'addresses.jinja2' %}
    </div>
    {% else %}
    <h1>Addresses</h1>
    <ul>
        {% for address in addresses %}
            <li>
                <a href="{{ url_for('address.address_show', id=address.id) }}">
                    {{ address.name }} {{address.line1 }} {{ address.state }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="{{ url_for('address.address_add') }}">Add New Address</a>

{% endblock %}

{% block footer_content %}
{% endblock %}