# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
!vendor/ner0tic
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
composer.lock

# Misc
*~
