*/cache/*
app/config/parameters.ini
vendor/*
app/bootstrap*
web/uploads/*
composer.lock
web/bundles/*
# Misc
# Bootstrap
scss.sublime-project
/src/.Scss
# Symfony directories
# Configuration files
/nbproject
# Composer
*~
composer.phar
app/config/parameters.yml
*/logs/*