# Configuration files
app/config/parameters.ini
web/bundles/*
# Composer
scss.sublime-*
web/uploads/*
# Symfony directories
vagrant/Personalization
# Bootstrap
app/config/parameters.yml
*~
# Misc
/nbproject
app/bootstrap*
vendor/*
composer.phar
*/cache/*
/src/.Scss
/vagrant/.vagrant
composer.lock
*/logs/*