.text-input, .select-input {
    -webkit-box-shadow: #D0D0D0 0px 1px 2px;
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    font-size: 1.16667em;
    padding: 3px 4px 3px;
    display: block;
}
.select-input {
    color: #000000;
}
.radio-input {
    padding: 3px 4px 3px;
    font-size: 1.16667em;
    -webkit-box-shadow: #D0D0D0 0px 1px 2px;
}
.radio-input:after,
.radio-input:before {
    display: block;
}
.radio-input < label {
    display: block;
}
input[type=text], input[type=password], textarea, select { border-radius: 5px; width: 400px !important;}
select { width: 410px !important; }
input[type=submit] {}
.date-select-input { width: 123px !important; display: inline-block; padding-left: 4px; padding-right: 4px; }