{% from "macros/fields.html" import render_form_fields %}
{% extends "layout.jinja2" %}

{% block content %}
  <div class="container">
    <form name="delete_confirm" method="post" novalidate class="form">
        <div class="form__container">
           {{ render_form_fields(form) }}
            {{ form.hidden_tag() }}
        </div>  
    </form>
  </div>
{% endblock %}