{% from "macros/fields.html" import render_text_field, render_select_field, render_form_field, render_password_field, render_checkbox_field %}
{% extends "layout.jinja2" %}

{% block title %}
  {% if leader %}Manage{% else %}Add{% endif %} A Leader
{% endblock %}

{% block content %}
  <div class="container">
    {% if leader %}Manage{% else %}Add{% endif %} A Leader
    <form name="leader_manage" method="post" novalidate class="form">
        <div class="form__container">
          {{ form.csrf_token }}
          {{ render_text_field(form.first_name) }}
          {{ render_text_field(form.last_name) }}
          {{ render_form_field(form.address_id) }}
          <hr>
          {{ render_select_field(form.organization_id) }}
          {{ render_select_field(form.faction_id) }}
          {% if leader %}
          {{ render_hidden_field(form.username) }}
          {{ render_hidden_field(form.email) }}
          {{ render_hidden_field(form.password) }}
          {{ render_hidden_field(form.confirm) }}
          {% else %}
          <hr>
          {{ render_text_field(form.username) }}
          {{ render_text_field(form.email) }}
          {{ render_password_field(form.password) }}
          {{ render_password_field(form.confirm) }}
          {% endif %}
          {{form.hidden_tag()}}
        </div>
        <div>
            <input type="submit">
        </div>
      </form>
  </div>
{% endblock %}