<!doctype html>
<head>

{% block html_head %}

  <title>{% block title %}[CampfireConnections] - {% block title_text %}{% endblock title_text %}{% endblock title %}</title>

  {% block meta_info %}

  <meta name="description" content="summer camp scheduling system">
  <meta name="author" content="vendetta solutions">

    {% block mobile_viewport %}

  <meta name="viewport" content="width=device-width, initial-scale=1">

    {% endblock mobile_viewport%}

  {% endblock meta_info%}

  {% block link_icons %}

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  {% endblock link_icons %}

  {% block statics %}

    {% load static %}

    {% block javascripts %}

      {% block javascripts_local %}{% endblock javascripts_local %}

      {% block javascripts_external %}

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <!-- DataTables JS -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.1.2/js/dataTables.min.js"></script>
  <!-- Sortable JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

      {% endblock javascripts_external %}

    {% endblock javascripts %}

    {% block stylesheets %}

      {% block stylesheets_local %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">

      {% endblock stylesheets_local %}

      {% block stylesheets_external %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">  
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.min.css">

    {% endblock stylesheets_external %}

    {% endblock stylesheets %}

  {% endblock statics %}

{% endblock html_head %}

</head>
<body>

{% block body %}

  {% block header_wrapper %}

  <header>

    {% block header %}

    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo_text_white.png' %}" alt="Campfire Connections Logo" class="logo">
        </a>
    </div>

    {% block menu_wrapper %}
    <nav>
        {% block menu %}
      {#  {% include 'partials/menu.html' %} #}
        {% load menu_tags %}
        {% render_menu menu_items %}
        {% endblock menu %}
    </nav>
    {% endblock menu_wrapper %}

    {% if user.is_authenticated %}

      {% block toplinks %}

      <nav>
        {% include 'partials/top_links.html' %}
      </nav>

      {% endblock toplinks %}

    {% else %}

      {% block auth_buttons_wrapper %}

      <div class="auth-buttons">

        {% block auth_buttons %}

        <a href="{% url 'login'  %}" class="btn login">Log In</a>
        <a href="{% url 'signup'  %}" class="btn signup">Sign Up</a>

        {% endblock auth_buttons%}

      </div>

      {% endblock auth_buttons_wrapper %}

    {% endif %}

  {% endblock header %}

  </header>

  {% endblock header_wrapper %}

  {% block content_wrapper %}

  <section id="main-content" class="container">

    {% block message_block %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% endblock message_block %}

    {%block content_header %}
      {% if user.is_authenticated %}
        {% include 'partials/inforow.html' %}
      {% endif %}
    {% endblock content_header %}
  
    {% block content %}{% endblock content %}

    <br /> <br /> <br /><br /><br /><br />
  </section>

  {% endblock content_wrapper %}

  {% block footer_wrapper %}

  <footer>

    {% block footer %}
  
    <p>&copy; 2024 Campfire Connections. All Rights Reserved.</p>
    <nav>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    {% endblock footer %}

  </footer>

  {% endblock footer_wrapper %}

{% endblock body %}

</body>
</html>