{% extends 'base/layout.html' %}

{% block title_text %}{{ title or 'Details' }}{% endblock title_text %}

{% block content %}
    <h1>{{ title or 'Details' }}</h1>

    <table class="table table-bordered">
        {% for field in object._meta.fields %}
            <tr>
                <th>{{ field.verbose_name }}</th>
                <td>{{ object|getattr:field.name }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url update_url_name object.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url delete_url_name object.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url index_url_name %}" class="btn btn-secondary">Back to List</a>
{% endblock %}
