{% extends "layout.jinja2" %}

{% block content %}
  <div class="container">
    <h1>{{ organization.name }}</h1>
      <ul id="organization.name">
        <li>
          <span class="field-name">Name:</span>
          <span class="field-value">{{ organization.name }}</span>
        </li>
        <li>
          <span class="field-name">Abbreviation:</span>
          <span class="field-value">{{ organization.short_name }}</span>
        </li>
        <li>
          <span class="field-name">Description:</span>
          <span class="field-value">{{ organization.description }}</span>
        </li>
        {% if organization.parent is defined and organization.parent %}
        <li>
          <span class="field-name">Parent:</span>
          <span class="field-value">{{ organization.parent.name }}</span>
        </li>
        {% endif %}
        <li>
          <span class="field-name">Factions:</span>
          <span class="field-value">{{ organization.factions | length }}</span>
        </li>
        <li>
          <span class="field-name">Created:</span>
          <span class="field-value">{{ organization.created_at }}</span>
        </li>
      </ul>
  </div>
{% endblock %}