@font-face {
    font-family: 'Alexa';
    src: url(/static/css/AlexaStd.otf);
}
@font-face {
    font-family: 'Proxima-nova';
    src: url();
}
#header {
    height: 60px;
    /*background: #efece0 url('/static/images/header.png') repeat-x 0 0;
    background-color: #556643;*/
    background-color: #612809;
    width: 100%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}
/*******************************************************************************
logo
*******************************************************************************/
#logo {
    background-image: url('../../static/images/logo.png');
    width: 62px;
    min-height: 58px;
    background-size: cover;
    background-position: center;
}
#logo > a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #556643;    
}
#logo > a:hover { 
    color: #76ad3b;
}
#logo > a > span {
    color: #556643;
    font-weight: normal;
}
#logo > sup {
    font-style: italic;
    color: #76ad3b;
    letter-spacing: -1px;
    font-size: 16pt;
    vertical-align:baseline;
    position: relative;
    left: -40px;
    top:-12px;
    font-variant: small-caps;
    font-family: Alexa;
    font-weight: bold;
}

img.logo { 
    width: 62px;
    min-height: 58px;
}
/*******************************************************************************
nav-bar
*******************************************************************************/
#header ul#top-links { 
    float: right;
    margin: 15px 0 0;
    padding: 0;
}
#header ul#top-links li {
    color: #474747;
    float: left;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding-right: 7px;
}
#header #top-links li a {
    color: #ffffff;
    font-variant-caps: all-small-caps;
    font-family: 'Proxima-nova-b';
}
#header #top-links li a:hover {
    color: #c55804;
}
#header #top-links li a,
#header #top-links li input {
    border-left: 1px solid #ccc;
    padding-left: 7px;
    text-decoration: none;
}
#header #top-links li:first-child a {border: none;}
#header #top-links li#active-enrollment {position: relative;}
#header #top-links li#active-enrollment a { 
    color: #474747;
    text-decoration: none;
    padding-left: 1px;
}

#header #top-links li#active-enrollment a:hover {text-decoration: underline;}
#header #top-links li#active-enrollment em { 
    color: #777;
    font-style: normal;
    font-weight: normal;
}
#header #top-links li#active-enrollment input[type=text] {
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #555;
    font: inherit;
    font-size: 12px;
    font-weight: bold;
    margin: -6px 0 0 7px;
    padding: 5px;
    width: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#active-enrollment { text-align: right; }
#top-links a.active-troop { 
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *background:transparent url("/static/images/active-bg-ie.png") no-repeat 0 0; padding:4px 12px 6px;
}
#top-links a.active-troop:hover { 
    background: #EA6900;
    *background: transparent url("/static/images/active-bg-hover-ie.png") no-repeat 0 0;
    *padding: 4px 12px 6px;
}
#top-links a.active-troop,
#top-links a.active-troop:hover { *background-position:0 3px!important; }
a.active-troop { postion: relative; margin-left: 3px; }
a.active-troop span { background-image:url("/static/images/toggle_down_light.png"); background-repeat:no-repeat; background-position:100% 50%; padding:4px 16px 6px 4px;}
#top-links a.menu-open { background:#efece0 !important; color:#666!important; outline:none; }
a.active-troop.menu-open span { background-image:url("/static/images/toggle_up_dark.png"); color:#789; }
#active-enrollment-menu { -moz-border-radius-topleft:5px; -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; -webkit-border-top-left-radius:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px; display:none; background-color:#eae1be; position:absolute; width:250px; z-index:1000; border:1px transparent; text-align:left; padding:12px; top: 14px; right: 7px; margin-top:5px; margin-right: 0px; *margin-right: -1px; color:#789; font-size:11px; min-height: 400px; }
#active-enrollment-menu h3 { font-size: small; color: <?php echo $green; ?>; font-variant: small-caps; }

/* change active troop */
a.dropdown { color: #76ad3b !important; position: relative; margin-left: 3px; background: #eae1be url('/static/images/toggle_down_light.png') auto right no-repeat; padding: 4px 16px 6px; text-decoration: none; font-weight: bold; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
a.dropdown:hover { color: #666666 !important; background: #EA6900; }
a.dropdown span { background: transparent url(../static/images/toggle_down_light.png) 100% 50% no-repeat; padding: 4px 16px 6px 0; }
a.dropdown.dropdown-active { color: #ffffff; background-color: #76ad3b; }
a.dropdown.dropdown-active span { background:url(../static/images/toggle_up_dark.png) 100% 50% no-repeat; }
.dropdown-content  { background: #76ad3b; padding:7px 12px; position:absolute; top:16px; right:0; display:none; z-index:5000; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
.dropdown-content p { font-size:11px; }
.dropdown-content a:link, .dropdown-content a:visited  { font-weight:bold; color: #EA6900; text-decoration:none; line-height:1.7em; }
.dropdown-content a:active, .dropdown-content a:hover { color: #EA6900; }
* html .dropdown-content { top:28px; }
*+ html .dropdown-content { top:28px; }
#change-active-troop { float:left; margin-right:20px; }
#change-active-troop-content  { width:150px; }
#change-active-troop-content a  { display:block; }
.relative    { position:relative; }


/* Navigation */
#header .menu {
    left: 50px;
    /*top: -58px; */
    position: relative;
    vertical-align: middle;
}

.menu, .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    font-family: Proxima-nova-lt, sans-serif;
    z-index: 100;
    position: relative;
    /*top: -4px;*/
    list-style: none;
    padding: 0 20px;
    margin: 0;
    float: left;
    /*background: #EA6900;*/
}
.menu li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 20px;
}
.menu li.logo {
    padding-top: 0px;
}
.menu li a, .menu li a:link, .menu li a:active, .menu li a:visited {
    font: bold 1.22em/25px Proxima-nova, sans-serif;
    color: #f8f8f5;
    display: block;
    padding: 0 9px;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding-right: 7px;
    font-variant: small-caps;
    text-align: center;
    margin-right: 5px;
    padding-left: 5px;
}

.menu li a:hover {
  color: #EA6900;
    -webkit-transition-duration: .40s;
    -webkit-transition-property: color, background, box-shadow;
    -moz-transition-duration: .40s;
    -moz-transition-duration: color, background, box-shadow;
    transition-duration: .40s;
    transition-property: color, background, box-shadow;

}
#menu-one li:hover a,
#menu-one li.sfHover a {

}
#menu-one li:hover ul a,
#menu-one li.sfHover ul a {

}
#menu-one li:hover ul a:hover,
#menu-one li.sfHover ul a:hover {

}
.has-sub-menu {
    background: transparent url(/static/images/toggle_down_light.png) no-repeat left 7px;
    padding-left: 10px !important;
}
.has-sub-menu:hover {
    background: transparent url(/static/images/toggle_up_dark.png) no-repeat left 7px;
}
.menu ul {
  border-radius: 0 0 5px 5px;
  list-style: none;
  margin: 0;

}
.menu li:hover ul,
.menu li.sfHover ul {
  top: 25px;
}
.menu ul li {
  border: 0;
  padding: 10px 5px;
}
.menu ul a {
  border-bottom: 0;
  padding-right: 20px;
  white-space: no-wrap;
  width: auto;
  display: block;
}
.menu ul a:hover {
  /* background: #EA6900;
  color: #000; */
}



/***
.nav-bar {
    font-weight: bold;
    min-height:38px;
    -webkit-text-stroke: 1px transparent;
}
.nav-bar li {
    list-style: none;
    display: inline;
    text-align: center;
    margin-right: 5px;
}
.nav-bar a, .nav-bar a:visited {
    font-family: "Proxima-nova-b, Proxima-nova-lt, sans-serif";
    color: rgba(255,255,255,0.99);
    font-size: 14px;
    font-weight: 600;
}
.nav-bar a:hover {
    color: rgba(173,152,59,0.99);
    -webkit-transition-duration: .40s;
    -webkit-transition-property: color, background, box-shadow;
    -moz-transition-duration: .40s;
    -moz-transition-duration: color, background, box-shadow;
    transition-duration: .40s;
    transition-property: color, background, box-shadow;
}
.nav-bar ul, .nav-bar ul li {
    
}
li.menu-item {
    padding-right: 14px !important;
}
.has-sub-menu {
    background: transparent url(/static/images/toggle_down_light.png) no-repeat right 5px;
}
ul.sub-menu {
    display: none;
    width: 169px;
    background-color: #EA6900;
    padding: 0 0 12px 0;
    height: 100%;
}
.sub-menu li {
    display:block;
    margin:5px 20px;
    padding: 5px 0px;
    border-top: dotted 1px #606060;
    list-style-type:none;

}
.nav-bar ul li {
    color: #474747;
    float: left;
    font-size: 12pt;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding-right: 7px;
    font-variant: small-caps;
    text-align: center;
    margin-right: 5px;
    height: 99%;
    padding-left: 5px;
}
*/