{% extends 'pages/base/layout.html' %}

{% block content %}
{% if parent_org %}
<h1>Sub-Organizations of {{ parent_org.name }}</h1>
{% else %}
<h1>Organizations</h1>
{% endif %}
<table id="organizationTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Children</th>
            <th>Facilities</th>
            <th>Factions</th>
        </tr>
    </thead>
    <tbody>
        {% for organization in organizations %}
        <tr>
            <td><a href="{% url 'organization_show' organization_slug=organization.slug %}">{{ organization.name }}</a></td>
            <td>{{ organization.description | truncatechars:30 }}</td>
            <td><a href="{% url 'organization_index_by_parent' organization_slug=organization.slug %}">{{ organization.children.count }}</a></td>
            <td><a href="{% url 'facility_index_by_organization' organization_slug=organization.slug %}">{{ organization.facilities.count }}</a></td>
            <td><a href="{% url 'faction_index_by_organization' organization_slug=organization.slug %}">{{ organization.get_total_factions_count }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#organizationTable').DataTable();
    });
    </script>
{% endblock content %}