{% extends 'layout.jinja2' %}

{% block title %}
    {% if not title %}Department{% else %}{{ title }}{% endif %}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('facility.department_list') }}">Admin</a></li>
        <li class="active">Department</li>
    </ol>
{% endblock %}

{% block content %}
    {% if datatable %}
    <div id="pjax-container">
        {% include 'departments.jinja2' %}
    </div>
    {% else %}
    <h1>Department</h1>
    <ul>
        {% for department in department %}
            <li>
                <a href="{{ url_for('facility.department_show', id=facility.id) }}">
                    {{ facility.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="{{ url_for('facility.department_add') }}">Add New Department</a>

{% endblock %}

{% block footer_content %}
{% endblock %}