{% extends "layout.jinja2" %}

{% block title %}{{ faculty.name }}{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ faculty.name }}</h1>
      <ul id="faculty.name">
        <li>
          <span class="field-name">Name:</span>
          <span class="field-value">{{ faculty.first_name }}</span>
        </li>
        <li>
          <span class="field-name">Abbreviation:</span>
          <span class="field-value">{{ faculty.last_name }}</span>
        </li>
        <li>
          <span class="field-name">Faction:</span>
          <span class="field-value">{{ faculty.facility_id.name }}</span>
        </li>
        <li>
          <span class="field-name">Organization:</span>
          <span class="field-value">{{ faculty.department_id }}</span>
        </li>
      </ul>
      {% if current_user.is_admin %}
      {#{% include "components/mini_menu.html" %}#}
      {% endif %}
  </div>
{% endblock %}