{% extends "layout.jinja2" %}

{% block title %}{{ quarters.name }}{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ quarters.name }}</h1>
      <ul id="quarters.name">
        <li>
          <span class="field-name">Name:</span>
          <span class="field-value">{{ quarters.name }}</span>
        </li>
        <li>
          <span class="field-name">Description:</span>
          <span class="field-value">{{ quarters.description }}</span>
        <li>
          <span class="field-name">Facility:</span>
          <span class="field-value">{{ quarters.facility_id.name }}</span>
        </li>
      </ul>
      {% if current_user.is_admin %}
      {#{% include "components/mini_menu.html" %}#}
      {% endif %}
  </div>
{% endblock %}