/* 
    Document   : loginForm
    Created on : Mar 12, 2011, 4:27:26 PM
    Author     : ner0tic
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#login { min-height: 400px; }
.main-column { width: 800px; overflow: hidden; margin: 0 auto; }
#login form { /*background: #f9f8f7; border: 1px solid #cccccc; */display: block; margin: 0 auto; padding: 20px; width: 450px; overflow: hidden; margin-top: 30px; }
#login h2 { color: #444; font-size: 22px; font-weight: bold; left: 5px; margin-bottom: 25px; position: relative; }
div.section { margin: 0 0 20px 0; }
#login label { display: block; float: left; position: relative; text-align: right; top: 8px; width: 145px; }
#login .section input { margin-left: 15px; padding: 5px; width: 272px; font-size: 12px; }
#login .section a { display: block; font-weight: normal; left: 160px; position: relative; top: 5px; }
#login .greenButton, #login .orangeButton { float: right; }

/*******************************************************************************
    buttons
*******************************************************************************/
.greenButton {
background: #A7E300;
background: -webkit-gradient(linear, left top, left bottom, from(#A7E300), to(#99D100));
background: -moz-linear-gradient(top,  #A7E300,  #99D100);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A7E300', endColorstr='#99D100');
border: 1px solid #87b800;
color: #fff;
cursor: pointer;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 11px;
font-weight: bold;
height: 30px;
line-height: 30px;
padding: 0 10px;
text-align: center;
text-shadow: rgba(0,0,0,.1) 0 -1px 0;
text-transform: uppercase;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.greenButton:hover {
background: #b2eb14;
background: -webkit-gradient(linear, left top, left bottom, from(#b2eb14), to(#a4da14));
background: -moz-linear-gradient(top,  #b2eb14,  #a4da14);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2eb14', endColorstr='#a4da14');
color: #76ad3b;
}
.greenButton:active {
background: #99D100;
background: -webkit-gradient(linear, left top, left bottom, from(#99D100), to(#A7E300));
background: -moz-linear-gradient(top,  #99D100,  #A7E300);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99D100', endColorstr='#A7E300');
}
a.greenButton, .greenButton a {
color: #fff;
display: block;
text-decoration: none;
}
input.greenButton {line-height: normal !important;}
@-moz-document url-prefix() { input.greenButton {padding-bottom: 2px;} }
.orangeButton {
background: #A7E300;
background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#ff6200));
background: -moz-linear-gradient(top,  #ff9900,  #ff6200);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9900', endColorstr='#ff6200');
border: 1px solid #e55800;
color: #fff;
cursor: pointer;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 11px;
font-weight: bold;
height: 30px;
line-height: 30px;
padding: 0 10px;
text-align: center;
text-shadow: rgba(0,0,0,.1) 0 -1px 0;
text-transform: uppercase;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.orangeButton:hover {
background: #ffad32;
background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}
.orangeButton:active {
background: #ff8132;
background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}
a.orangeButton, .orangeButton a {
color: #fff;
display: block;
text-decoration: none;
}