{% extends 'base/list.html' %}

{% block title_text %}
    {% if organization %}
        {{ organization }}'s Factions
    {% else %}
        Factions
    {% endif %}
{% endblock title_text %}

{% block content_header_text %}
    {% if organization %}
    Factions in {{ organization }}
    {% else %}
    Factions
    {% endif %}
{% endblock content_header_text %}

{% block content_list_header %}
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Abbreviation</th>
    <th>Parent</th>
    <th>Organization</th>
    <th>Leaders</th>
    <th>Attendees</th>
</tr>
{% endblock content_list_header %}

{% block content_list %}
        {% for faction in factions %}
        <tr>
            <td><a href="{{ active_enrollment.faction_enrollment.faction.get_absolute_url }}">{{faction.name}}</a></td>
            <td>{{ faction.description | truncatechars:30 }}</td>
            <td>{{ faction.abbreviation }}</td> 
            <td><a href="{% url 'faction_show' faction.parent_id %}">{{ faction.parent }}</a></td>
            <td><a href="{{ faction.organization.get_absolute_url }}">{{ faction.organization }}</a></td>
            <td><a href="{% url 'leader_index_by_faction' faction_slug=faction.slug %}">{{ faction.leaders.count }}</a></td>
            <td><a href="{% url 'attendee_index_by_faction' faction_slug=faction.slug %}">{{ faction.attendees.count }}</a></td>
        </tr>
        {% endfor %}
{% endblock content_list %}

