<!-- faction/manage.html -->
{% extends "base/manage.html" %}

{% load static %}
{% load my_filters %}

{% block title_text_focus %}{{ faction.name }}{% endblock title_text_focus %}

{% block cards %}
<div id="manage">
    {{ block.super }}

    <style>
        section.card {
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        #manage h2 {
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
        }

        #manage h2 a {
            float: right;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        
        table th, table td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        table th {
            background-color: #f4f4f4;
        }

        .actions {
            max-width: 20px;
        }
    </style>

    {% for table_name, table in tables.items %}
    <section class="card" data-id="{{ table_name }}">
        <h2>{% pluralize_word table_name True %}<a href="#"><i class="fas {{ table.icon }}"></i></a></h2>
        {% include 'partials/table.html' with table_id=table_name table=table %}
    </section>
    {% endfor %}

</div>
{% endblock cards %}