{% extends "layout.jinja2" %}

{% block content %}
  <p>{{ msg }}</p>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Organization</th>
        <th>Departments</th>
        <th>Faculty</th>
        <th>Faction Quarters</th>
        <th>Attendee Quarters</th>
        <th>Faculty Quarters</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for facility in facilities %}
        <tr>
          <td>{{ facility.name }}</td>
          <td>{{ facility.description | truncate(30) }}</td>
          <td><a href={{ url_for("organization_show", organization_id=facility.organization.id) }}>{{ facility.organization.name }}</a></td>
          <td>{{ facility.departments | length }}</td>
          <td>{{ facility.faculty | length }}</td>
          <td>{{ facility.faction_quarters | length }}</td>
          <td>{{ facility.attendee_quarters | length }}</td>
          <td>{{ facility.faculty_quarters | length }}</td>
          <td>
            <a href="{{ url_for("facility_edit", facility_id=facility.id) }}">edit</a>
            <a href="{{ url_for("facility_delete", facility_id=facility.id) }}">delete</a>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}