{% extends "layout.jinja2" %}

{% block content %}
  <div class="container">
    <h1>{{ facility.name }}</h1>
    <p>{{ msg }}</p>
      <ul id="facility.name">
        <li>
          <span class="field-name">Name:</span>
          <span class="field-value">{{ facility.name }}</span>
        </li>
        <li>
          <span class="field-name">Description:</span>
          <span class="field-value">{{ facility.description }}</span>
        </li>
        <li>
          <span class="field-name">Address:</span>
          <span class="field-value">{{ facility.address }}</span>
        </li>
       <li>
          <span class="field-name">Department:</span>
          <span class="field-value">{{ facility.departments | length }}</span>
        </li>
        <li>
          <span class="field-name">Quarters:</span>
          <span class="field-value">{{ facility.quarters | length }}</span>
        </li>
        <li>
          <span class="field-name">Faculty:</span>
          <span class="field-value">{{ facility.faculty | length }}</span>
        </li>
        <li>
          <span class="field-name">Created:</span>
          <span class="field-value">{{ facility.created_at }}</span>
        </li>
      </ul>
  </div>
{% endblock %}