{% extends "layout.jinja2" %}

{% block content %}
<div class="container">
  {% if current_user.is_authenticated %}
    {% if current_user.is_admin %}
      {% include "admin/index.jinja2" %}
    {% else %}
      {% include "user/index.jinja2" %}
    {% endif %}
  {% else %}
    <h1>You are not logged in</h1>
  {% endif %}
</div>
{% endblock %}