{% extends "layout.jinja2" %}

{% block body %}
<div class="b01__fv" id="fv">
  <div class="b01__fv_slider">
    <div class="swiper-container js-slider-fv">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="item">
            <img src="static/images/splash/logo.png" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="b01__fv_content">
    <h1 class="b01__fv_logo">
      <img src="static/images/splash/logopng" alt="">
      <a class="logo" href="/"><img src="static/images/logo_large.png" alt="Summer Camp Scheduling System"></a>
    </h1>
  </div>
  <div class="m__cover_bottom m__noselect">
    <img src="static/images/cover_fv.svg" alt="">
  </div>
  <div class="m__contents m__contents--top" id="contents">
    <div class="m__inner">
    <!-- nav -->
    <div class="c__localnav">
        <div class="c__localnav_list js-inview is-show"><a class="c__localnav_item" href="/facilities-price/" data-inview="" data-delay2="0" data-anime="navIn" data-img="camp_price">
            <div class="icon">
              <img class="gif gif--off" src="static/images" alt=""><img class="gif gif--on" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_price.gif?1702654253466" alt=""></div><span class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Facilities/fees</font></font></span></a><a class="c__localnav_item" href="/rental/" data-inview="" data-delay2="1" data-anime="navIn" data-img="camp_rental">
            <div class="icon"><img class="gif gif--off" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_rental.png" alt=""><img class="gif gif--on" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_rental.gif?1702654253483" alt=""></div><span class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">rental</font></font></span></a><a class="c__localnav_item" href="/activities/" data-inview="" data-delay2="2" data-anime="navIn" data-img="camp_activity">
            <div class="icon"><img class="gif gif--off" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_activity.png" alt=""><img class="gif gif--on" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_activity.gif?1702654261939" alt=""></div><span class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Experience corner</font></font></span></a><a class="c__localnav_item" href="/outdoor-sports/" data-inview="" data-delay2="3" data-anime="navIn" data-img="camp_outdoor">
            <div class="icon"><img class="gif gif--off" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_outdoor.png" alt=""><img class="gif gif--on" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_outdoor.gif?1702654253550" alt=""></div><span class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">outdoor sports  </font></font></span></a><a class="c__localnav_item" href="/sightseeing/" data-inview="" data-delay2="4" data-anime="navIn" data-img="camp_spots">
            <div class="icon"><img class="gif gif--off" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_spots.png" alt=""><img class="gif gif--on" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_spots.gif?1702654253651" alt=""></div><span class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Surrounding sightseeing</font></font></span></a><a class="c__localnav_item" href="/access/" data-inview="" data-delay2="5" data-anime="navIn" data-img="camp_access">
            <div class="icon"><img class="gif gif--off" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_access.png" alt=""><img class="gif gif--on" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_access.gif?1702654254815" alt=""></div><span class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">access</font></font></span></a><a class="c__localnav_item" href="/contact/" data-inview="" data-delay2="6" data-anime="navIn" data-img="camp_contact">
            <div class="icon"><img class="gif gif--off" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_contact.png" alt=""><img class="gif gif--on" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/gif/camp_contact.gif" alt=""></div><span class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">inquiry</font></font></span></a></div>
</div>        </div>
    <section class="b01__info">
      <div class="m__inner">
        <div class="b01__info_contents">
          <div class="b01__info_flex">
            <div class="b01__info_links">
            <a class="b01__info_links_item" href="https://hodaigi-camp.jp/news/241/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">“Season tickets” are now on sale!</font></font></a>                <a class="b01__info_links_item" href="https://hodaigi-camp.jp/news/253/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">“Lift tickets” are now on sale for October and November only!</font></font></a>                </div>
            <div class="b01__info_weather js-inview is-show"><img class="ill_man" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/ill/ill_man.png" alt="" data-inview="" data-anime="bounceIn" data-delay="0"><img class="ill_boy" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/ill/ill_boy.png" alt="" data-inview="" data-anime="bounceIn" data-delay="1"><img class="ill_bird" src="https://hodaigi-camp.jp/wp-content/themes/hodaigi/assets/img/common/ill/ill_bird.png" alt="" data-inview="" data-anime="slideInL" data-delay="2">
              <h2 class="b01__info_weather_ttl">
                <san class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Today's Houdaigi campsite</font></font></san><span class="update"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10.22 Sunday</font></font></span>
              </h2>
              <div class="b01__info_weather_data">
                    <p class="txt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Weather:</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cloudy</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">　Temperature:</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3℃/11℃</font></font></span></p>                  </div>
            </div>
          </div>
        </div>
      </div>
    </section>
            <section class="b01__camp">
      <div class="m__cover_top">
        <picture>
          <source media="(min-width: 769px)" srcset="/wp-content/themes/hodaigi/assets/img/top/cover_camp.svg">
          <source media="(max-width: 768px)" srcset="/wp-content/themes/hodaigi/assets/img/top/cover_camp_sp.svg"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/cover_camp.svg" alt="">
        </picture>
      </div>
      <div class="m__inner">
        <h2 class="m__hl_tree m__hl_tree--en js-hl-tree is-show"><span class="tree tree--l"></span><span class="txt js-span"><span class="is-show"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">C</font></font></span><span class="is-show"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A</font></font></span><span class="is-show"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">M</font></font></span><span class="is-show"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">P</font></font></span></span><span class="tree tree--r"></span></h2>
      </div>
      <div class="b01__camp_contents">
        <section class="m__col2_wide m__col2_wide--r m__col2_wide--center">
          <div class="m__col2_wide_txt">
            <h3 class="m__hl_lv3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
               One of the largest big family campgrounds in the prefecture at an altitude of 1,000m! </font></font><br><font style="vertical-align: inherit;"></font></h3>
            <p class="m__nml"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
               Gunma Minakami Hodaigi Campsite, located on the west side of Mt. Buson, one of Japan's 100 Famous Mountains, is a refreshing place with a cool breeze even in midsummer at an altitude of 1,000 meters. You can stay at auto camping sites, free tent sites, bungalows, cottages, etc. while feeling the great nature of Okutone.
            </font></font></p>
          </div>
          <div class="m__col2_wide_img">
            <div class="img_ill">
              <div class="b01__camp_img js-inview is-show">
                <div data-inview="" data-anime="zoomIn">
                  <picture class="img">
                    <source media="(min-width: 769px)" srcset="/wp-content/themes/hodaigi/assets/img/top/camp_img.jpg">
                    <source media="(max-width: 768px)" srcset="/wp-content/themes/hodaigi/assets/img/top/camp_img_sp.jpg"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/camp_img.jpg" alt="">
                  </picture>
                </div>
              </div>
              <div class="js-inview is-show"><img decoding="async" class="ill_tent" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_tent.png" alt="" data-inview="" data-anime="bounceIn" data-delay="0"><img decoding="async" class="ill_woman" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_woman.png" alt="" data-inview="" data-anime="bounceIn" data-delay="1"></div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="b01__map">
      <div class="m__cover_top">
        <picture>
          <source media="(min-width: 769px)" srcset="/wp-content/themes/hodaigi/assets/img/top/cover_map.svg">
          <source media="(max-width: 768px)" srcset="/wp-content/themes/hodaigi/assets/img/top/cover_map_sp.svg"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/cover_map.svg" alt="">
        </picture>
      </div>
      <div class="m__cover_bottom">
        <picture>
          <source media="(min-width: 769px)" srcset="/wp-content/themes/hodaigi/assets/img/top/cover_map2.svg">
          <source media="(max-width: 768px)" srcset="/wp-content/themes/hodaigi/assets/img/top/cover_map2_sp.svg"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/cover_map2.svg" alt="">
        </picture>
      </div>
      <div class="b01__map_light_l">
        <picture>
          <source media="(min-width: 769px)" srcset="/wp-content/themes/hodaigi/assets/img/common/ill/ill_light-left.png">
          <source media="(max-width: 768px)" srcset="/wp-content/themes/hodaigi/assets/img/common/ill/ill_light-left_sp.png"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_light-left.png" alt="">
        </picture>
      </div>
      <div class="b01__map_light_r">
        <picture>
          <source media="(min-width: 769px)" srcset="/wp-content/themes/hodaigi/assets/img/common/ill/ill_light-right.png">
          <source media="(max-width: 768px)" srcset="/wp-content/themes/hodaigi/assets/img/common/ill/ill_light-right_sp.png"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_light-right.png" alt="">
        </picture><img decoding="async" class="ill_lamp" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_lamp.png" alt="">
      </div>
      <div class="b01__map_height js-inview is-show"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_height.png" alt="" data-inview="" data-anime="bounceIn" data-delay="0">
        <div class="ill_height2" data-inview="" data-anime="bounceIn" data-delay="1">
          <picture>
            <source media="(min-width: 769px)" srcset="/wp-content/themes/hodaigi/assets/img/common/ill/ill_height2.png">
            <source media="(max-width: 768px)" srcset="/wp-content/themes/hodaigi/assets/img/common/ill/ill_height2_sp.png"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_height2.png" alt="">
          </picture>
        </div><img decoding="async" class="ill_height3" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_height3.png" alt="" data-inview="" data-anime="bounceIn" data-delay="2">
      </div>
      <div class="b01__map_sleep js-inview is-show"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_sleep.png" alt="" data-inview="" data-anime="bounceIn" data-delay="0"><img decoding="async" class="ill_sleep2" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_sleep2.png" alt="" data-inview="" data-anime="bounceIn" data-delay="1"><img decoding="async" class="ill_sleep3" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_sleep3.png" alt="" data-inview="" data-anime="bounceIn" data-delay="2"></div>
      <div class="b01__map_mountain js-inview is-show"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_normal-mountain.png" alt="" data-inview="" data-anime="bounceIn" data-delay="2"></div>
      <div class="b01__map_kanban js-inview is-show"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_kanban.png" alt="" data-inview="" data-anime="bounceIn" data-delay="1"></div>
      <div class="m__inner">
        <h2 class="m__hl_sankaku m__hl_sankaku--en js-hl-sankaku is-show"><span class="txt m__white js-span"><span class="is-show"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">M</font></font></span><span class="is-show"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A</font></font></span><span class="is-show"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">P</font></font></span></span></h2>
        <div class="b01__map_contents">
          <section class="b01__map_plan">
            <div class="b01__map_img">
              <div class="map"> <img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/map_modal.jpg" alt="Houdaigi ski resort map"></div>
              <div class="zoom js-modal" data-type="map">
                <svg viewBox="0 0 51.5 51.5">
                  <use class="svg-zoom" xlink:href="#svg-zoom"></use>
                </svg>
              </div>
            </div>
            <div class="b01__map_txt">
              <h3 class="m__hl_lv3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                 Look at the map and imagine your own</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">camping plan</font></font></h3>
              <p class="m__nml"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                 While looking at the map of Gunma Minakami Hodaigi campsite facilities, think of a fun camping plan that suits your camping style, whether you're with your family, a group, or of course solo.</font></font></p>
              <div class="b01__map_btns">
                <div class="m__link js-modal" data-type="kukaku" data-map="map">
                  <svg class="icon" viewBox="0 0 30 30">
                    <use class="svg-arrow" xlink:href="#svg-arrow"></use>
                    <use class="svg-arrow-2" xlink:href="#svg-arrow-2"></use>
                  </svg><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">View detailed map of the venue</font></font></span>
                </div><!--<a class="m__link" href="" target="_blank" rel="noopener">
                  <svg class="icon" viewbox="0 0 30 30">
                    <use class="svg-arrow" xlink:href="#svg-arrow"></use>
                    <use class="svg-arrow-2" xlink:href="#svg-arrow-2"></use>
                  </svg><span>ライブカメラ</span></a>-->
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section class="b01__pickup">
      <div class="m__inner"> 
        <div class="b01__pickup_contents">
          <div class="b01__pickup_list js-inview is-show">
            <section class="b01__pickup_item" data-inview="" data-anime="fadeIn" data-delay="0"><img decoding="async" class="icon" src="/wp-content/themes/hodaigi/assets/img/top/top_icon_stay.png" alt="">
              <h2 class="m__hl_enjp"><span class="en"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">STAY</font></font></span><span class="jp"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">stay</font></font></span></h2>
              <div class="b01__pickup_txt"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/top_img_stay.jpg" alt="">
                <p class="m__nml2 desc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">With 105 auto camping sites and over 50 free tent sites, Gunma Minakami Hodaigi Campsite is vast and offers many ways to enjoy it. The campsite is also equipped with coin showers and bathing facilities.</font></font></p><a class="m__btn m__btn--blue" href="/facilities-price/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">See details</font></font></a>
              </div>
            </section>
            <section class="b01__pickup_item" data-inview="" data-anime="fadeIn" data-delay="1"><img decoding="async" class="icon" src="/wp-content/themes/hodaigi/assets/img/top/top_icon_eat.png" alt="">
              <h2 class="m__hl_enjp"><span class="en"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EAT</font></font></span><span class="jp"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">eat</font></font></span></h2>
              <div class="b01__pickup_txt"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/top_img_eat.jpg" alt="">
                <p class="m__nml2 desc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The campsite has a barbecue garden where many people can enjoy even on rainy days. We also have a barbecue set with plenty of meat and vegetables, so please enjoy it on the refreshing plateau.</font></font></p><a class="m__btn m__btn--blue" href="/facilities-price/#bbq"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">See details</font></font></a>
              </div>
            </section>
            <section class="b01__pickup_item" data-inview="" data-anime="fadeIn" data-delay="2"><img decoding="async" class="icon" src="/wp-content/themes/hodaigi/assets/img/top/top_icon_enjoy.png" alt="">
              <h2 class="m__hl_enjp"><span class="en"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ENJOY</font></font></span><span class="jp"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Experience</font></font></span></h2>
              <div class="b01__pickup_txt"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/top_img_enjoy.jpg" alt="">
                <p class="m__nml2 desc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">At the campsite, there are hands-on programs such as soba making, bread and butter making, candle making, and herbarium making. It can be enjoyed by everyone from children to adults.</font></font></p><a class="m__btn m__btn--blue" href="/activities/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">See details</font></font></a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <section class="b01__outdoor">
      <div class="m__cover_top">
        <picture>
          <source media="(min-width: 769px)" srcset="/wp-content/themes/hodaigi/assets/img/top/cover_outdoor.svg">
          <source media="(max-width: 768px)" srcset="/wp-content/themes/hodaigi/assets/img/top/cover_outdoor_sp.svg"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/cover_outdoor.svg" alt="">
        </picture>
      </div>
      <div class="m__inner"> 
        <div class="b01__outdoor_contents">
          <section class="b01__outdoor_sports">
            <div class="b01__outdoor_txt">
              <h2 class="ttl"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OUTDOOR SPORTS</font></font></h2>
              <p class="desc m__nml2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Minakami Town is popular for outdoor sports. You can enjoy rafting, canyoning, canoeing, SUP, mountain biking, 4-wheel buggy, etc. at a great price when you combine it with a stay at Gunma Minakami Kano Hodaigi Campsite.</font></font></p>
              <div class="m__pc"><a class="btn m__btn m__btn--yell" href="/outdoor-sports/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click here for outdoor sports</font></font></a></div>
            </div>
            <div class="b01__outdoor_img js-inview is-show">
              <div class="item"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/outdoor_rafting.png" data-inview="" data-anime="bounceIn" data-delay="1">
                <p class="en"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RAFTING</font></font></p>
                <p class="jp"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rafting</font></font></p>
              </div>
              <div class="item"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/outdoor_canoe.png" data-inview="" data-anime="bounceIn" data-delay="2">
                <p class="en"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CANOE/KAYAK</font></font></p>
                <p class="jp"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">canoe/kayak</font></font></p>
              </div>
              <div class="item"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/outdoor_canyoning.png" data-inview="" data-anime="bounceIn" data-delay="3">
                <p class="en"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CANYONING</font></font></p>
                <p class="jp"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">canyoning</font></font></p>
              </div>
              <div class="item"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/outdoor_bike.png" data-inview="" data-anime="bounceIn" data-delay="4">
                <p class="en"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BIKE</font></font></p>
                <p class="jp"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bike</font></font></p>
              </div>
            </div>
            <div class="m__sp"><a class="btn m__btn m__btn--yell" href="/outdoor-sports/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click here for outdoor sports</font></font></a></div>
          </section>
        </div>
      </div>
    </section>
    <section class="b01__spots">
      <div class="m__cover_top">
        <picture>
          <source media="(min-width: 769px)" srcset="/wp-content/themes/hodaigi/assets/img/top/cover_spots.svg">
          <source media="(max-width: 768px)" srcset="/wp-content/themes/hodaigi/assets/img/top/cover_spots_sp.svg"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/cover_spots.svg" alt="">
        </picture>
      </div>
      <div class="b01__spots_ship js-inview is-show">
        <div data-inview="" data-anime="slideInR" data-delay="0"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/common/ill/ill_kayak.png" alt=""></div>
      </div>
      <div class="m__inner"> 
        <div class="b01__spots_contents js-inview is-show">
          <section class="b01__spots_bnr" data-inview="" data-anime="fadeIn">
            <div class="m__sp">
              <div class="ttl"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hodaigi</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Recommended nearby spots</font></font></div>
            </div>
            <div class="b01__spots_bnr_img">
              <div class="img"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/spot_onsen.jpg" alt=""><img decoding="async" class="pin" src="/wp-content/themes/hodaigi/assets/img/top/spot_onsen-pin.png" alt=""><span class="txt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Takaragawa Onsen</font></font></span></div>
              <div class="img"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/spot_taki.jpg" alt=""><img decoding="async" class="pin" src="/wp-content/themes/hodaigi/assets/img/top/spot_taki-pin.png" alt=""><span class="txt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Urami Falls</font></font></span></div>
              <div class="img"><img decoding="async" src="/wp-content/themes/hodaigi/assets/img/top/spot_damu.jpg" alt=""><img decoding="async" class="pin" src="/wp-content/themes/hodaigi/assets/img/top/spot_damu-pin.png" alt=""><span class="txt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fujiwara Dam</font></font></span></div>
            </div>
            <div class="b01__spots_bnr_txt"> 
              <div class="m__pc"> 
                <h2 class="ttl"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Recommended spots around Hodaigi</font></font></h2>
              </div><a class="btn m__btn m__btn--yell" href="/sightseeing/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click here for nearby sightseeing</font></font></a>
            </div>
          </section>
        </div>
      </div>
    </section>        <section class="b01__news">
      <div class="m__cover_top">
        <picture>
          <source media="(min-width: 769px)" srcset="static/images/cover_news.svg">
          <source media="(max-width: 768px)" srcset="static/images/cover_news_sp.svg"><img src="static/images/cover_news.svg" alt="">
        </picture>
      </div>
                <div class="m__inner"> 
        <section class="b01__news_contents">
          <div class="b01__news_ttl">
            <h2 class="ttl"><span class="txt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Announcements/Events</font></font></span></h2>
          </div>
          <div class="b01__news_txt">
            <div class="m__newslist">
                                <div class="m__newslist_item"><a href="https://hodaigi-camp.jp/news/260/"><span class="date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2023.10.22</font></font></span><span class="ttl"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Business ended in 2023.</font></font></span></a></div>
                                <div class="m__newslist_item"><a href="https://hodaigi-camp.jp/news/241/"><span class="date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2023.10.03</font></font></span><span class="ttl"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">“Season tickets” are now on sale!</font></font></span></a></div>
                                <div class="m__newslist_item"><a href="https://hodaigi-camp.jp/news/253/"><span class="date"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2023.10.01</font></font></span><span class="ttl"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10. “1-day lift ticket” on sale for November only!</font></font></span></a></div>
                              </div>
            <div class="b01__news_more"><a class="m__link" href="/news/">
                <svg class="icon" viewBox="0 0 30 30">
                  <use class="svg-arrow" xlink:href="#svg-arrow"></use>
                  <use class="svg-arrow-2" xlink:href="#svg-arrow-2"></use>
                </svg><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click here for news list</font></font></span></a></div>
          </div>
        </section>
      </div>
              </section>
    <section class="b01__footer">
      <div class="m__cover_top"><img src="static/images/cover_top-footer.svg" alt=""></div>
      <div class="b01__footer_camp"><img src="static/images/footer_bg_ill.png" alt=""></div>
      <div class="img">
        <picture>
          <source media="(min-width: 769px)" srcset="static/images/footer_bg.jpg">
          <source media="(max-width: 768px)" srcset="static/images/footer_bg_sp.jpg"><img src="static/images/footer_bg.jpg" alt="">
        </picture>
      </div>
    </section>
  </div>
  {% endblock %}