{% from "macros/fields.html" import render_text_field %}
{% extends "layout.jinja2" %}

{% block content %}
  <div class="container">
    <form name="add_organization" method="post" novalidate class="form">
        <div class="form__container">
            {{ render_text_field(form.name) }}
            {{ render_text_field(form.short_name) }}
            {{ render_text_field(form.description) }}
        </div>
        <div>
            <input type="submit">
        </div>
  </div>
{% endblock %}