<form name="register" method="post" novalidate class="form">
    <div class="form__container">
        {{ render_text_field(form.first_name) }}
        {{ render_text_field(form.last_name) }}
        {{ render_text_field(form.username) }}
        {{ render_text_field(form.email) }}
        {{ render_text_field(form.password) }}
        {{ render_text_field(form.confirm_password) }}
        {{ render_text_field(form.avatar_url) }}
        {{ render_form_field(form.address_id) }}
        {{form.hidden_tag()}}
    </div>
    <div>
        <input type="submit">
    </div>