{% extends 'base/layout.html' %}

{% block title_text %}About Us{% endblock title_text %}

{% block content %}
<div>
    <table>
      <thead>
        <tr>
          <th>About Campfire Connections</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah <br />
            blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah <br />
            blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah <br />
            blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah <br/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}